mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
   
  }
img {
    width: 320px;
    height: 250px;
}

.navSide{
    width: 100%;
    height: 100%;
    /* border: 1px solid black */
}
.bodyDetail {
    width: 510px;
    height: 100%;
    /* border: 1px solid green; */
    background-color: #ffffff;
}
.bodyDetail1 {
    width: 925px;
    height: 100%;
   
    /* border: 1px solid black; */
    
}
.navbar {
    width: 100%;
    height: 60px;
    /* border: 1px solid black; */
    
}
.bodyContain {
    width: 100%;
    height: 92%;
    /* border: 1px solid blue; */
}
.exsidenav {
    padding: 10px;
    height: 100%;
    width: 380px;
  }
.detail-sidenav-content {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
.detail-container {
    width: 100%;
    height: 95%;
    /* border: 1px solid rgba(0, 0, 0, 0.5); */
  }
  .center {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }