<mat-nav-list>
        <a mat-list-item>
                <mat-icon id="all_inbox">all_inbox</mat-icon>
                <p>Inbox</p>
        </a>
        <a mat-list-item>
                <mat-icon id="create">create</mat-icon>
                <p>Drafts</p>
        </a>
        <a mat-list-item>
                <mat-icon id="present_to_all">present_to_all</mat-icon>
                <p>Sent Items</p>
        </a>
        <a mat-list-item>
                <mat-icon id="delete_outline">delete_outline</mat-icon>
                <p>Delete Items</p>
        </a>
        <a mat-list-item>
                <mat-icon id="block">block</mat-icon>
                <p>Junk Enail</p>
        </a>
        <a mat-list-item>
                <mat-icon id="archive">archive</mat-icon>
                <p>Archive</p>
        </a>
        <a mat-list-item>
                <mat-icon id="event_note">event_note</mat-icon>
                <p>Note</p>
        </a>  
                      
</mat-nav-list>

