button {
  width: 100%;
}
.mat-icon ,p{
  display: inline-block;
  vertical-align: middle;
}
p {
  padding-left:20px; 
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}